absl-py==2.1.0
accelerate==1.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiohttp-cors==0.7.0
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
astunparse==1.6.3
attrs==24.3.0
av==13.1.0
backtrader==1.9.78.123
beautifulsoup4==4.12.3
blinker==1.9.0
cachetools==5.5.1
cattrs==24.1.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
chess==1.11.1
click==8.1.8
cloup==3.0.5
contourpy==1.3.1
coremltools==8.1
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.11
datasets==3.2.0
decorator==5.1.1
deepspeed==0.16.4
defusedxml==0.7.1
diffusers==0.32.2
dill==0.3.8
distro==1.9.0
dm-tree==0.1.8
docstring_parser==0.16
ecdsa==0.19.0
einops==0.8.1
etils==1.11.0
filelock==3.16.1
FiPy==3.4.5
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.55.2
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
gmsh==4.13.1
google-pasta==0.2.0
googleapis-common-protos==1.66.0
groq==0.24.0
grpcio==1.67.0
grpcio-tools==1.67.0
gunicorn==23.0.0
h11==0.16.0
h5py==3.12.1
hjson==3.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
immutabledict==4.2.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
isosurfaces==0.1.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kagglehub==0.3.6
keras==3.0.0
keras-core==0.1.7
keras-cv==0.6.2
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.44.0
lxml==5.3.0
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mdurl==0.1.2
meshio==5.3.5
moderngl==5.12.0
moderngl-window==3.1.1
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
namex==0.0.8
narwhals==1.27.1
NBT==1.5.1
nbtlib==2.0.4
netifaces==0.11.0
networkx==3.1
ninja==1.11.1.3
nltk==3.9.1
Nuitka==2.5.1
numba==0.61.0
numpy==1.26.4
numpy-stl==3.2.0
nvidia-ml-py==12.560.30
onnx==1.17.0
onnx-coreml==1.3
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openvino==2024.6.0
openvino-dev==2024.6.0
openvino-telemetry==2025.1.0
opt_einsum==3.4.0
optree==0.13.1
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
patsy==1.0.1
peewee==3.17.8
pillow==10.4.0
pillow_heif==0.22.0
platformdirs==4.3.6
plotly==6.0.0
pooch==1.8.2
prometheus_client==0.20.0
promise==2.3
propcache==0.2.1
protobuf==5.28.1
psutil==6.0.0
py-cpuinfo==9.0.0
pyaml==25.1.0
pyarrow==19.0.0
PyAudio==0.2.14
pycairo==1.27.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
PyExifTool==0.5.6
pygame==2.6.1
pyglet==2.1.1
PyGLM==2.7.3
Pygments==2.18.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.2.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
python-chess==1.999
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2024.2
pyvista==0.44.2
PyYAML==6.0.2
ray==2.43.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.7.1
rpds-py==0.23.0
safetensors==0.5.2
scapy==2.6.1
scikit-learn==1.5.2
scipy==1.14.1
scooby==0.10.0
screeninfo==0.8.1
seaborn==0.13.2
setuptools==76.0.0
simple-parsing==0.1.7
six==1.17.0
skia-pathops==0.8.0.post2
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
srt==3.5.3
statsmodels==0.14.4
streamlit==1.42.1
sv-ttk==2.6.0
svgelements==1.9.6
sympy==1.13.3
ta-lib==0.6.1
tenacity==9.0.0
tensorboard==2.16.0
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.7
tensorflow-metadata==1.16.1
termcolor==2.5.0
tf_keras-nightly==2.16.0.dev2024021410
threadpoolctl==3.5.0
tinygrad @ git+https://github.com/tinygrad/tinygrad.git@ec120ce6b9ce8e4ff4b5692566a683ef240e8bc8
tokenizers==0.21.1
toml==0.10.2
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4.2
tqdm==4.66.4
transformers==4.51.3
ttkthemes==3.2.2
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uuid==1.30
uvloop==0.21.0
vaderSentiment==3.3.2
vtk==9.3.1
watchdog==6.0.0
webencodings==0.5.1
websockets==14.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
xxhash==3.5.0
yarl==1.18.3
yfinance==0.2.52
yt-dlp==2024.12.6
zipp==3.21.0
zstandard==0.23.0
